.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;

  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;

    .modal-close-button {
      position: relative;
      width: 22px;
      height: 22px;
      margin-left: auto;
      z-index: 2;
      cursor: pointer;
    }

    .modal-content {
      padding: 20px 0;
    }
  }

  @media screen and (orientation: portrait) and (max-width: 600px) {
    align-items: center;

    .modal-container {
      width: 90%;
    }
  }
}